.datetimeComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  min-height: 100vh;
  color: #333;
  width: 100%; // 默认移动端宽度

  @media (min-width: 64em) {
    width: 56rem !important;
  }

  .pageTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .timestampTable {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0;
    display: table;
    border-top: 0.25px solid #f0f0f0;
    border-left: 0.25px solid #f0f0f0;
  }

  .tableRow {
    padding: 0;
    text-align: left;
    display: table-row;
  }

  .rowLabel {
    font-size: 1.1rem;
    font-weight: bolder;
    width: 10rem;
    display: table-cell;
    align-items: center;
    padding: 0.5rem;
    border-right: 0.25px solid #f0f0f0;
    border-bottom: 0.25px solid #f0f0f0;
  }

  .tableCell {
    padding: 0.5rem;
    display: table-cell;
    border-right: 0.25px solid #f0f0f0;
    border-bottom: 0.25px solid #f0f0f0;
  }
}
