.random-password-page {
  margin-bottom: 1rem;

  .random-password {
    background: #FFFFFF;
    padding: 16px;
    border-radius: 4px;

    .symbol-row, .length-row {
      margin-bottom: 8px;
    }

    .tool-title {
      margin-top: 0
    }

    .tool-desc {
      font-size: 13px;
      color: #5c5c5c;
    }

    .gen-password {
      font-size: 20px;
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      align-items: center;
    }

    .password-item {
      color: #000;
      margin-bottom: 16px;
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      align-items: center;
    }
  }

  .random-password {
    margin: 0 auto;
  }

}

