.toolComponent {
    width: 100%;
}

.toolBody {
    width: 100%;
    background: #ffffff;
    border-radius: 8px;
    overflow-y: auto;
    margin-top: 16px;
    margin: 0 auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    .titleContainer {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;
        margin-bottom: 16px;
        padding-right: 16px;

        .toolTitle {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }

    .toolDescription {
        margin-top: 8px;
        margin-bottom: 16px;
        margin-left: 16px;
        margin-right: 16px;
        font-size: 16px;
        color: #666666;
    }

    .tip {
        margin-top: 8px;
        margin-left: 16px;
        margin-right: 16px;
        font-size: 14px;
        color: #666666;
    }

    .actionRow {
        margin: 2rem 0;
        margin-left: 16px;
        margin-right: 16px;
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    .optionRow {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 16px;
        font-size: 0.95rem;
        color: #666666;
        align-items: center;

        .namespaceForm {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;

            .namespaceSwitch {
                display: flex;
                flex-direction: row;
                gap: 0.5rem;
                align-items: center;
            }

            .namespaceText {
                display: flex;
                flex-direction: row;
                gap: 16px;
                align-items: center;
            }
        }
    }
}

.uuidItemCard {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 1rem;
    background: #ffffff;
    border-radius: 4px;
    padding: 1rem;

    .headerRow, .dataRow {
        display: table-row;
        width: 100%;
        border-bottom: 1px solid #f3f3f3;
    }

    .headerCell {
        display: table-cell;
        font-size: 0.9rem;
        vertical-align: middle;
        width: 6rem;
    }

    .headerCell, .dataCell {
        display: table-cell;
        padding: 8px;
    }

    .dataCell {
        font-size: 0.9rem;

        .uuidItem {
            color: #666666;

            &:first-of-type {
                margin-bottom: 0.5rem;
            }
        }

        &:first-of-type {
            font-weight: bold;
            vertical-align: middle;
            text-align: left;

        }
    }
}

.styleCopyItem {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;

    svg {
        cursor: pointer;

        &:hover {
            color: #666666;
        }
    }

    svg, span {
        margin-bottom: 0 !important;
    }
}
