.listContainer {
  .areaTitle {
    font-size: 1.1rem;
    font-weight: bold;
  }

  .commentItem {
    padding: 0.5rem 0;
    .commentHeader {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
      font-size: 0.9rem;
      color: #333;
      padding: 0.5rem 0;
      border-bottom: solid 0.5px #ccc;
    }
    .commentContent {
      margin-top: 0.5rem;
      font-size: 1rem;
      color: #000;
    }
  }
}