.qrCodeComponent {
  margin-bottom: 1rem;

  .description {
    font-size: 1rem;
    color: #4a4a4a;
    margin: 1rem 0 1rem 0;
  }

  .textContainer {
    margin: 1rem 0 1rem 0;

    textarea {
      width: calc(100% - 2rem);
      height: 100px;
      padding: 1rem;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      resize: none;
    }
  }

  .actionContainer {
    margin: 1rem 0 1rem 0;

    button {
      padding: 0.5rem 1rem;
      font-size: 1rem;
      font-weight: 600;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      background: #127af8;
      color: #fff;
    }
  }

  .errorContainer {
    padding: 0 1rem;
    color: red;
    font-size: 1rem;
    font-style: italic;
  }

  .resultContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 40%;
      aspect-ratio: 1 / 1;
    }
  }
}

